header {
  text-align: center;
}

header > h1 {
	font-family: Helvetica, sans-serif;
	font-size: 9.2em;
	font-weight: 2em;
  font-stretch: condensed;
}

body{
    background-color: #222;
    color: #59ea3a;
    font-family: Calibri, Verdana, sans-serif;
    font-size: 16px;
  }
  div {
      width : 300px;
      height: 100px;
      margin: 0 auto;
      text-align: center;
      padding: 4px 4px 18px 4px;
  }

    footer {
      background-color: rgba(20, 61, 20, 0.8);
      border-color:#4efc51;
      border-width:1px;
      border-style:solid; 
      border-radius: 0 0 5px 5px;
      padding: 1px;
      margin-left: auto;
      margin-right: auto;
      width: 1090px;
      text-align: center;
      color: #4efc51;
    }
  
  a {
      color: #80ea69;
  }
  a:hover {
    color: #59ea3a;
    text-decoration: none;
  }
  .form-control {
    color: #ffffff;
    background-color: inherit;
    padding: 0;    
    border: none;
    box-shadow: none;
  width: 100%;
  height:100%;
  border-radius: 50%;
  }